* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #1a001f, #330033);
    color: white;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 700vh;
    transition: transform 1s ease;
}

.etapa {
    width: 100vw;
    height: 100vh;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    overflow-y: auto;
} 

.etapa img {
    width: 100%;
    max-width: 320px;
    max-height: 35vh;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 30px rgba(255,105,180,0.5);
}

.etapa p {
    font-size: 1.2rem;
    line-height: 1.6;
    background: rgba(0,0,0,0.4);
    padding: 15px;
    border-radius: 15px;
    max-width: 700px;
    white-space: pre-wrap;
}

.texto-grande {
    font-size: 1.4rem;  
}

.declaracao {
    background: rgba(0,0,0,0.2);
}


.amor {
    font-size: 3em;
    font-weight: bold;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0% { transform: scale(1);}
    50% {transform: scale(1.1);}
    100% { transform: scale(1);}
}

.setas {
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    font-size: 2em;
    cursor: pointer;
}

.esconder {
    opacity: 0;
    pointer-events: none;
}

.coracoes-fundo {
    position: fixed;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.coracao {
    position: absolute;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background: pink;
    transform: rotate(45deg);
    animation: subir 6s linear infinite;
}

.coracao::before,
.coracao::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: pink;
    border-radius: 50%;
}

.coracao::before {
    top: -10px;
    left: 0;
}

.coracao::after {
    top: -10px;
    top: 0;
}

@keyframes subir {
    from {
        transform: translateY(0) rotate(45deg);
        opacity: 1;
    }
    to {
        transform: translateY(-120vh) rotate(45deg);
        opacity: 0;
    }
}